.navigation {
  display: flex;
  width: 100%;
  max-width: 1125px;
  align-items: center;
  gap: 8px;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.navItem {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6250a7;
  border-radius: 8px;
  color: #160041;
  font-family: var(--sds-typography-body-font-family);
  font-weight: var(--sds-typography-body-font-weight-regular);
  padding: 8px;
  border: 1px solid #cdc1d6;
  background: none;
  cursor: pointer;
  flex: 1;
  min-width: 80px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .navItem {
    white-space: normal;
  }
}