.header {
  background-color: #cdc1d6;
  display: flex;
  width: 100%;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 61px 16px;
}

.logoWrapper {
  display: flex;
  gap: 24px;
  color: #000;
  font: 400 36px/36px Inter, sans-serif;
}

.logoCircle {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.schoolName {
  margin: auto 0;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
}

.contactButton {
  border-radius: 10px;
  background-color: rgba(20, 12, 115, 0.96);
  color: #fff;
  padding: 17px 38px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.phoneWrapper {
  display: flex;
  margin-top: 10px;
  gap: 17px;
  color: #000;
}

.phoneIcon {
  aspect-ratio: 1.1;
  object-fit: contain;
  object-position: center;
  width: 33px;
}

.phoneNumber {
  flex-grow: 1;
  margin: auto 0;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }

  .contactButton {
    margin-left: 10px;
    padding: 0 20px;
  }

  .phoneWrapper {
    margin-right: 4px;
  }
}