.payments {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  background-color: rgba(205, 193, 214, 1);
  display: flex;
  width: 100%;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 61px 17px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.schoolInfo {
  display: flex;
  gap: 24px;
  color: rgba(0, 0, 0, 1);
  font: 400 36px/36px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.schoolLogo {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  display: flex;
  width: 85px;
  height: 85px;
}

.schoolName {
  margin: auto 0;
}

.contactSection {
  align-self: start;
  display: flex;
  flex-direction: column;
  font: var(--sds-typography-body-font-weight-regular) var(--sds-typography-body-size-medium) / 1 var(--sds-typography-body-font-family);
}

.contactBtn {
  border-radius: 10px;
  background-color: rgba(20, 12, 115, 0.96);
  align-self: end;
  color: #fff;
  padding: 15px 37px;
}

@media (max-width: 991px) {
  .contactBtn {
    padding: 0 20px;
  }
}

.contactDetails {
  align-self: start;
  display: flex;
  margin-top: 6px;
  gap: 18px;
  color: #000;
}

.icon {
  aspect-ratio: 1.1;
  object-fit: contain;
  object-position: center;
  width: 33px;
}

.phoneNumber {
  flex-basis: auto;
  margin: auto 0;
}

.mainSection {
  align-self: center;
  margin-top: 42px;
  width: 100%;
  max-width: 1291px;
}

@media (max-width: 991px) {
  .mainSection {
    max-width: 100%;
    margin-top: 40px;
  }
}

.flexContainer {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .flexContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: var(--White, #fff);
  white-space: nowrap;
  text-align: center;
  font: 700 32px/1 Abhaya Libre, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .card {
    margin-top: 40px;
    white-space: initial;
  }
}

.cardImage {
  aspect-ratio: 1.05;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.cardBtn {
  border-radius: 6px;
  background-color: rgba(20, 12, 115, 1);
  align-self: center;
  margin-top: 42px;
  min-height: 44px;
  width: 165px;
  max-width: 100%;
  overflow: hidden;
  padding: 12px;
  color: #fff;
}

@media (max-width: 991px) {
  .cardBtn {
    margin-top: 40px;
    white-space: initial;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 367px;
  margin-top: 64px;
  padding: 49px 0 5px;
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    margin-top: 40px;
  }
}

.footerImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footerContent {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 63px;
}

@media (max-width: 991px) {
  .footerContent {
    max-width: 100%;
    padding: 0 20px;
  }
}

.footerLinks {
  margin-left: 61px;
  width: 100%;
  max-width: 1116px;
}

@media (max-width: 991px) {
  .footerLinks {
    max-width: 100%;
  }
}

.footerFlexContainer {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .footerFlexContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.addressColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .addressColumn {
    width: 100%;
  }
}

.addressWrapper {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: start;
  color: rgba(137, 208, 248, 1);
  font: 700 14px/14px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .addressWrapper {
    margin-top: 40px;
  }
}

.addressDetails {
  width: 240px;
}

.directions {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 1;
  margin-top: 11px;
}

.contactInfoOffice {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  margin-top: 53px;
}

@media (max-width: 991px) {
  .contactInfoOffice {
    margin-top: 40px;
  }
}

.contactUsLink {
  color: rgba(246, 252, 255, 1);
  font-size: 16px;
  line-height: 1;
  margin-top: 16px;
}

.quickLinksColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .quickLinksColumn {
    width: 100%;
  }
}

.quickLinksWrapper {
  display: flex;
  gap: 40px 100px;
  align-self: stretch;
  font-family: Inter, sans-serif;
  font-weight: 700;
  margin: auto 0;
}

@media (max-width: 991px) {
  .quickLinksWrapper {
    max-width: 100%;
    margin-top: 40px;
  }
}

.quickLinks {
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  line-height: 26px;
}

.quickLinksTitle {
  color: rgba(246, 252, 255, 1);
  font-size: 16px;
  line-height: 1;
  align-self: start;
}

.footerLogo {
  aspect-ratio: 1000;
  object-fit: contain;
  object-position: center;
  width: 100%;
  margin-top: 54px;
}

@media (max-width: 991px) {
  .footerLogo {
    max-width: 100%;
    margin-top: 40px;
  }
}

.credit {
  color: rgba(255, 255, 255, 1);
  align-self: end;
  z-index: 10;
  margin-right: 22px;
  font: 400 13px/2 Inter, sans-serif;
}

@media (max-width: 991px) {
  .credit {
    margin-right: 10px;
  }
}

.reservedRights {
  position: relative;
  color: rgba(255, 255, 255, 1);
  align-self: start;
  margin: 14px 0 0 202px;
  font: 400 13px/2 Inter, sans-serif;
}

@media (max-width: 991px) {
  .reservedRights {
    margin-left: 10px;
  }
}