.aboutSection {
  display: flex;
  width: 100%;
  max-width: 1264px;
  margin: 152px auto 0;
  gap: 20px;
}

.imageContainer {
  flex: 1;
}

.aboutImage {
  aspect-ratio: 1.19;
  object-fit: contain;
  width: 100%;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  font: 400 32px Inter, sans-serif;
}

.aboutTitle {
  color: #160041;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.aboutDescription {
  color: #000;
  line-height: 32px;
  letter-spacing: 1.6px;
  margin-top: 75px;
}

.missionHighlight {
  font-weight: 600;
  font-style: italic;
  font-size: 38px;
}

.seeMoreButton {
  border-radius: 50px;
  background-color: rgba(20, 12, 115, 0.96);
  align-self: flex-start;
  margin-top: 19px;
  color: #fff;
  letter-spacing: 1.6px;
  padding: 20px 36px;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .aboutSection {
    flex-direction: column;
    margin-top: 40px;
    padding: 0 20px;
  }

  .aboutImage {
    max-width: 100%;
    margin-top: 30px;
  }

  .contentContainer {
    margin-top: 40px;
  }

  .aboutTitle {
    font-size: 40px;
  }

  .aboutDescription {
    margin-top: 40px;
  }

  .seeMoreButton {
    padding: 20px;
  }
}