.callToAction {
  background-color: #f3f3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  padding: 94px 77px;
}

.ctaTitle {
  font-size: 80px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.ctaButton {
  border-radius: 10px;
  background-color: #a6a0ff;
  width: 281px;
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-top: 25px;
  padding: 28px 36px;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .callToAction {
    padding: 50px 20px;
  }

  .ctaTitle {
    font-size: 40px;
  }

  .ctaButton {
    font-size: 30px;
    padding: 20px;
    width: 100%;
    max-width: 281px;
  }
}