.courseDetails {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.accentBar {
  background-color: #89d0f8;
  border-radius: 20px;
  align-self: center;
  z-index: 10;
  width: 165px;
  height: 5px;
  margin-top: 40px;
}

.divider {
  min-height: 1px;
  margin-top: 31px;
  width: 100%;
  border: 1px solid #b3b3b3;
}

.backgroundAccent {
  background-color: #efeeff;
  min-height: 145px;
  width: 100%;
}

@media (max-width: 991px) {
  .accentBar,
  .divider,
  .backgroundAccent {
    max-width: 100%;
  }
}