.featureSection {
  display: flex;
  width: 100%;
  max-width: 1324px;
  margin: 25px auto;
  gap: 20px;
}

.featureImage {
  width: 50%;
  object-fit: contain;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
}

@media (max-width: 991px) {
  .featureSection {
    flex-direction: column;
    max-width: 100%;
    margin: 25px 20px;
  }

  .featureImage {
    width: 100%;
    margin-bottom: 20px;
  }

  .featureGrid {
    width: 100%;
    grid-template-columns: 1fr;
  }
}