.header {
  background-color: #d4d2f6;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 58px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 23px;
}

.logoCircle {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.schoolName {
  color: #000;
  font: 400 36px/36px Inter, sans-serif;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.contactButton {
  border-radius: 10px;
  background-color: rgba(20, 12, 115, 0.96);
  color: #fff;
  padding: 17px 38px;
  border: none;
  cursor: pointer;
}

.phoneContainer {
  display: flex;
  margin-top: 12px;
  gap: 17px;
  color: #000;
}

.phoneIcon {
  width: 33px;
  height: 33px;
}

.phoneNumber {
  margin: auto 0;
}

@media (max-width: 991px) {
  .header {
    padding: 12px 20px;
  }

  .contactButton {
    padding: 17px 20px;
  }
}