.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
}

.loginTitle {
  color: rgba(0, 0, 0, 1);
  font: 500 40px/0.5 'Abhaya Libre Medium', -apple-system, Roboto, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.loginTypeSelector {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.selectorButton {
  flex: 1;
  padding: 10px;
  border: 1px solid rgba(121, 116, 126, 1);
  background-color: rgba(232, 222, 248, 1);
  color: #000;
  font: 500 14px/20px Roboto, sans-serif;
  cursor: pointer;
}

.selectorButton:first-child {
  border-radius: 100px 0 0 100px;
}

.selectorButton:last-child {
  border-radius: 0 100px 100px 0;
}

.selectorButton.active {
  background-color: rgba(20, 12, 115, 1);
  color: #fff;
}

.loginForm {
  width: 100%;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputLabel {
  display: block;
  color: #252a31;
  font: 800 32px/1 'Abhaya Libre ExtraBold', -apple-system, Roboto, Helvetica, sans-serif;
  margin-bottom: 4px;
}

.inputField {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #bac7d5;
  background-color: #e8edf1;
}

.rememberMe {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox {
  margin-right: 8px;
}

.checkboxLabel {
  color: rgba(59, 54, 36, 1);
  font: 500 20px/1 'Abhaya Libre Medium', -apple-system, Roboto, Helvetica, sans-serif;
}

.signInButton {
  width: 100%;
  padding: 15px 16px;
  border: none;
  border-radius: 6px;
  background-color: rgba(20, 12, 115, 1);
  color: #fff;
  font: 700 32px/1 'Abhaya Libre', -apple-system, Roboto, Helvetica, sans-serif;
  cursor: pointer;
}

.signupPrompt {
  color: rgba(0, 0, 0, 1);
  font: 700 24px/1 Inter, sans-serif;
  margin-top: 25px;
}

.signupLink {
  color: inherit;
  text-decoration: underline;
}