.contactInfo {
  display: flex;
  flex-direction: column;
  font-family: var(--sds-typography-body-font-family);
}

.contactButton {
  border-radius: 10px;
  background-color: rgba(20, 12, 115, 0.96);
  color: #fff;
  padding: 17px 38px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.phoneContainer {
  display: flex;
  margin-top: 12px;
  gap: 17px;
  color: #000;
  align-items: center;
}

.phoneIcon {
  aspect-ratio: 1.1;
  object-fit: contain;
  width: 33px;
}

.phoneNumber {
  flex-grow: 1;
}

@media (max-width: 991px) {
  .contactButton {
    padding: 17px 20px;
  }
}